#General
.vscode/
*.json
.exercism/
HELP.md
HINTS.md
.prettierrc
Unit_tests

#C
*.csproj
obj/
bin/
.editorconfig
*Tests.cs

#javascript
.pnpm/
.bin/
node_modules/
.eslintrc
.npmrc
babel.config.js
*.spec.js
LICENSE
*.yaml
javascript/*/.gitignore
.pnpm-debug.log

#Python
*test.py
__pycache__