#General
.vscode/
*.json
.exercism/
HELP.md
HINTS.md

#C#
*.csproj
obj/
bin/
.editorconfig
*Tests.cs

#javascript
.pnpm/
.bin/
#node_modules/ Ignored for internals .gitignone 
.eslintrc
.npmrc
babel.config.js
*.spec.js
LICENSE
*.yaml
javascript/*/.gitignore
